$element-hover-bg: #eceff5;
$element-active-bg: #e5ecff;
$element-active-color: #2d61fc;
$element-common-color: #202d40;

$element-common-bg: #f7f9fc;
$element-border-deep-color: #c9ceda;

$link-deep-color: #0733b8;
$link-active-color: #2d61fc;
$link-common-color: #202d40;
